<% if(title=='About') { %>

<div class="container ">
    <p>
        <h1 class="display-5" style="text-align: center;">Vinicio S. Jacome G.</h1>
        <img src="/Assets/images/Sebastian.jpg" class="mx-auto d-block " style="width:20%" >
    </p>
</div>
<div class="row justify-content-md-center">
  <div class="col-6" style="text-align: justify;">
    <p> Hi there, currently I'm a student at Centennial College. My program is Software Engineering Technology. I'm an engineer, I have a degree in Mechatronic Engineering. In my field, I learned about programming object-oriented and since then I've fallen in love with coding. I worked at Moveo, a company that rents scooters in the town, back home, and all the services are provided by a phone app. I worked as a Software Manager right now my priority goal is to improve my knowledge in the coming future I will become a full-stack developer.
    </p>
  </div>
</div>

<div style="text-align: center;">
  <a class="btn btn-dark "  href="../Content/Resume.pdf" role="button">My Resume!</a>
</div>

<%}%>
      