<!--
    Page: bottom_nav.ejs
    Name: Vinicio Jacome
    Student Id: 301289381
    Date: 04/02/2023
-->

<!--Scrpt Section-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script scr="/Scripts/app.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
