<% if(title=='Contact'){ %>

    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Personal contact</h4>
          <p class="card-text">Name: Vinicio S. Jacome</p>
          <p class="card-text">e-mail: sebas.jacomemct@gmail.com</p>
          <p class="card-text">Phone number: +1 437 262 5773</p>
          <p class="card-text">Address: 9446 Sheppard Avenue East</p>
          <p class="card-text">Toronoto - Ontario</p>
          <p class="card-text">Canada</p>
          <a href="https://www.linkedin.com/in/sebastian-jacome-gomez-8113b1163/" class="btn btn-dark">LinkedIn</a>
          <a href="https://www.instagram.com/basstian_5/" class="btn btn-dark">Instagram</a>
          <a href="https://www.facebook.com/sebas.jacome.5" class="btn btn-dark">Facebook</a>
        </div>
      </div>
      <br>   
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Contact me:</h4>
          <br>
          <p class="card-text">First Name: <input type="text" name="txtfname"></p>
          <p class="card-text">Last Name: <input type="text" name="txtlname"></p>
          <p class="card-text">e-mail: <input type="text" name="txtemail"></p>
          <p class="card-text">Contact Number: <input type="text" name="txtnumber"></p>
          <p class="card-text">Let me a message:</p><p> <textarea name="message" maxlength="1000"></textarea></p>
          <a href="/home" class="btn btn-dark">Submit</a>
         
        </div>
      </div> 



<%}%>