<!--
    Page: footer.ejs
    Name: Vinicio Jacome
    Student Id: 301289381
    Date: 04/02/2023
-->
<!--footer-->
<nav>
    <br>
</nav>
    <footer>
    <br>
    <nav class="navbar-light fixed-bottom bg-light" style="text-align: center;">
      <div class="container-fluid">
        <span class="navbar-text">
          <em>&copy; Copyright 2023 Vinicio Jacome All Rights Reserved.</em>
        </span>
      </div>
    </nav>
  </footer>