<% if(title=='Home') { %>
  
<div>
    <p>
        <h1 class="display-1" style="text-align: center;">Hello!<br>Welcome to my website</h1>
    </p>
</div>
<br>
  <div>
    <p>
      <h4 class="display-5" style="text-align: center;">
        In this web site you will find my portfolio
      </h4>
    </p>
  </div>
  <br>
  <div>
    <p >
      <h4 class="display-6" style="text-align: center;" style="justify-content: center;">
        Mission:<br>
        Do the best as possible in order to give solutions in every project with total professionalism and commitment 
      </h4>
    </p>

    <div style="text-align: center;">
      <a class="btn btn-dark "  href="/about" role="button">About me!</a>
    </div>
  </div>
</div>
<%}%>   


 