<% if(title=='Projects'){ %>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
        <img src="../Assets/images/unnamed.png" class="mx-auto d-block " style="width:60%">
        <br>
      <h3 style="text-align: center;">Moveo App</h3>
      <br>
      <p style="text-align: justify;">Moveo Mobile App was the most recent project in that I was involved. I worked as a software developer, my main target was implementing the connection between the mobile app with the web application, also provide support in the back-end.</p>
    </div>

    <div class="col-sm-4">
        <img src="../Assets/images/concapcri.png" class="mx-auto d-block " style="width:60%">
        <br>
        
      <h3 style="text-align: center;">Concapcri</h3>
      <br>
      <p style="text-align: justify;">This was my first project related to a website, I built the website using WordPress and some tools and plugins that allowed this company to start an academy of forensic Science</p>
    </div>
    
    <div class="col-sm-4">
        <img src="../Assets/images/enrollment.png" class="mx-auto d-block " style="width:95%">
        <br>
      <h3 style="text-align: center;">Enrollment System</h3>
      <br>
      <p style="text-align: justify;">The purpose of this project is to create an enrollment system for higher education institutes. This enrollment system assists educational institutions to manage all the activities related to student enrollment process from enrolling student to the course and handling student-related fee calculation for payment effectively. Overall, the information required for the business includes student, course, program, department and section. 
    </p>
    </div>
   

<%}%>  