<!--
    Page: error.ejs
    Name: Vinicio Jacome
    Student Id: 301289381
    Date: 04/02/2023
-->


<!--error  -->

<%- include('../views/partials/header')%>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
